<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueBoolzapp</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/35c3fc4174.js" crossorigin="anonymous"></script>

</head>

<body>

    <main>
        <div class="container df" id="app">
            <div class="left">
                <nav class="left-nav df">
                    <div class="profile">
                        <img src="./assets/img/avatar_io.jpg" alt="">
                    </div>
                    <div class="main-menu df">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>


                </nav>
                <div class="alert df">
                    <div>
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="search">
                    <i @click="findChat()" class="fa-solid fa-magnifying-glass"></i>
                    <input @keyup="findChat()" type="text" name="" id="" v-model="check"
                        placeholder="Cerca o inizia una nuova chat">
                </div>
                <div class="chat-history">
                    <div v-show="contact.visible" @click="changeChat(index)" class="chat df"
                        v-for="(contact, index, messages, lastMessageIndex) in contacts">
                        <div class="profile-pic">
                            <img :src="contact.avatar" alt="">
                        </div>
                        <div class="chat-leak df">
                            <div>
                                <h3>{{contact.name}}</h3>
                                <p>{{contact.messages[contact.messages.length - 1].message}}</p>
                                

                            </div>
                            <div>
                                <p>{{contact.messages[contact.messages.length - 1].date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <nav class="right-nav df">
                    <div class="open-chat df">
                        <div>
                            <img :src="contacts[activeChat].avatar" alt="">

                        </div>
                        <div>
                            <h3>{{contacts[activeChat].name}}</h3>
                            <p>Ultimo accesso oggi alle 16:26</p>

                        </div>
                    </div>
                    <div class="chat-menu df">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </nav>
                <div class="chat-screen">
                    <div v-for="(message, index) in contacts[activeChat].messages" class="card"
                        :class="{sent: message.status === sent, received: message.status === received}"
                        @click="showMenu(message)" @mouseleave="hideMenu(message)">
                        {{message.message}}
                        <div class="chevron"><i class="fa-solid fa-chevron-down"></i>
                            <div class="card-info"
                                :class="{hide: message.menuStatus === false, show: message.menuStatus === true}">
                                <a href="#">Info messaggio</a>
                                <a @click="deleteMessage(activeChat, message, index, lastMessageIndex)" href="#">Cancella messaggio</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="write-your-message df">
                    <div>
                        <i class="fa-regular fa-face-smile" style="font-size: 2.5rem;"></i>
                    </div>
                    <div>
                        <input @keyup.enter="pushMessage(activeChat)" class="text-box" type="text" name="" id=""
                            placeholder="Scrivi un messaggio" v-model="newMessage.text">
                    </div>
                    <div>
                        <i class="fa-solid fa-microphone" style="font-size: 2.5rem;"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>




        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./assets/js/app.js"></script>
        <!-- <script src="luxon.js"></script> -->
</body>

</html>